<div class="header">
    <ul class="menu">
        <li class="logo" src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fst.depositphotos.com%2F1020341%2F4233%2Fi%2F600%2Fdepositphotos_42333899-stock-photo-portrait-of-huge-beautiful-male.jpg&imgrefurl=https%3A%2F%2Fsp.depositphotos.com%2Fstock-photos%2Fle%25C3%25B3n.html&tbnid=JqWkMGEzD7jtHM&vet=12ahUKEwjF9M6rxbb1AhVnieAKHQl2DAQQMygFegUIARDdAQ..i&docid=2X0wtD-ckWZGMM&w=457&h=600&itg=1&q=imagenes&ved=2ahUKEwjF9M6rxbb1AhVnieAKHQl2DAQQMygFegUIARDdAQ"></li>
        <li>LINK 1</li>
        <li>LINK 1</li>
        <li>LINK 1</li>
        <li>LINK 1</li>
    </ul>
</div>
